body {
  background-color: #ffffff;
  color: #696969;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden
}

.box {
  display: block;
  width: 300px;
  margin-right: auto;
  text-align: center;
  padding: 15px 25px;
  line-height: 1;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  height: 200px;
}

.box h1,
.box h2 {
  font-weight: 300;
}

canvas {
  background-color: #FFFFFF;
  overflow: hidden
}
