<footer id="SVGwave7BottomShape" class="svg-preloader position-relative">
  <!-- Lists -->
  <div class="container space-top-2 space-top-md-3 space-bottom-2">

    <div class="row">
      <div class="col-10 offset-1 offset-sm-0 col-sm-6 col-lg-4 mb-7 mb-sm-0">
        <div class="mb-4">
          <h2>Need to<br><strong class="text-primary">solve a problem?</strong></h2>
        </div>
        <a class="btn btn-primary btn-sm transition-3d-hover" href="mailto:ivar.prudnikov@gmail.com">Drop us a line <span class="ml-1 fa fa-paper-plane"></span></a>
      </div>

      <div class="col-10 offset-1 offset-sm-0 col-sm-3 col-lg-2 mb-4 mb-sm-0 ml-lg-auto">
        <h4 class="h6 font-weight-semi-bold">Company</h4>

        <!-- List Group -->
        <ul class="list-group list-group-flush list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action" href="about.html">About</a></li>
          <li><a class="list-group-item list-group-item-action" href="services.html">Services</a></li>
          <li><a class="list-group-item list-group-item-action" href="opensource.html">Open source</a></li>
        </ul>
        <!-- End List Group -->
      </div>

      <div class="col-10 offset-1 offset-sm-0 col-sm-3 col-lg-2">
        <h4 class="h6 font-weight-semi-bold">Resources</h4>

        <!-- List Group -->
        <ul class="list-group list-group-flush list-group-borderless mb-0">
          <li><a class="list-group-item list-group-item-action" href="terms.html">Terms</a></li>
          <li><a class="list-group-item list-group-item-action" href="privacy.html">Privacy</a></li>
        </ul>
        <!-- End List Group -->
      </div>
    </div>
  </div>
  <!-- End Lists -->

  <div class="container space-1">
    <div class="text-center text-md-right">
      <p class="d-inline-block small p-1 mb-0 bg-white rounded">Dasmicrobot Limited &copy; 2019. All rights reserved.<br>Registered in Ireland (EU) Registration: 597108 VAT: IE3452822VH</p>
    </div>
  </div>

  <!-- SVG Shape -->
  <figure class="ie-wave-7-bottom w-80 w-md-65 w-lg-50 position-absolute bottom-0 left-0 z-index-n1">
    <img class="js-svg-injector" src="../svg/components/wave-7-bottom.svg" alt="Image Description"
         data-parent="#SVGwave7BottomShape">
  </figure>
  <!-- End SVG Shape -->
</footer>
