<footer class="container space-2">

  <div class="row align-items-md-center">
    <div class="col-md-4 mb-4 mb-md-0">
      <div class="d-flex align-items-center">
        <p class="small mb-0">&copy; Dasmicrobot Limited<br>All rights reserved.</p>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
      <a class="btn btn-primary btn-block transition-3d-hover" href="mailto:ivar.prudnikov@gmail.com">Send us an email <span class="ml-1 fa fa-paper-plane"></span></a>
    </div>

    <div class="col-sm-6 col-md-4">
      <!-- Social Networks -->
      <ul class="list-inline text-sm-right mb-0">
        <li class="list-inline-item">
          <a class="btn btn-sm btn-soft-secondary btn-bg-transparent" href="https://github.com/Dasmicrobot">
            <span class="fab fa-github mr-1"></span> GitHub
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
  </div>

</footer>
