<header id="header" class="u-header u-header--bg-transparent">
  <div class="u-header__section">

    <div class="container">

      <nav class="navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">

        <a href="/index.html" class="logo my-2 mb-md-n5 navbar-brand u-header__navbar-brand" aria-label="das+mic+ro+bot">
          <img src="../images/logo.svg" class="bg-white" alt="das+mic+ro+bot"/>
        </a>

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
              <span id="hamburgerTrigger" class="u-hamburger__box">
                <span class="u-hamburger__inner"></span>
              </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
          <ul class="navbar-nav u-header__navbar-nav">
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/">Home</a>
            </li>
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="opensource.html">Open source</a>
            </li>
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/">Help</a>
            </li>
            <li class="nav-item u-header__nav-item">
              <a class="nav-link u-header__nav-link" href="/">Case studies</a>
            </li>
          </ul>
        </div>
      </nav>


    </div>
  </div>
</header>
