<header id="header" class="u-header">
  <div class="u-header__section">

    <div class="container">
      <div class="row">
        <div class="col-sm-2">

          <a href="/index.html" class="d-block py-3">
            <img class="logo" src="../images/logo.svg" alt="das+mic+ro+bot" width="80" height="80"/>
          </a>

        </div>
        <div class="col-sm-10">

          <div class="d-flex align-items-center pt-2">
            <div class="ml-auto">
              <div class="d-inline-block ml-auto">
                <ul class="list-inline mb-0 mr-2">
                  <li class="list-inline-item mr-0">
                    <a class="u-header__navbar-link" href="/">Privacy</a>
                  </li>
                  <li class="list-inline-item mr-0">
                    <a class="u-header__navbar-link" href="/">Terms</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <nav class="navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">

            <!-- Responsive Toggle Button -->
            <button type="button" class="navbar-toggler btn u-hamburger"
                    aria-label="Toggle navigation"
                    aria-expanded="false"
                    aria-controls="navBar"
                    data-toggle="collapse"
                    data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
              <ul class="navbar-nav u-header__navbar-nav">
                <li class="nav-item u-header__nav-item">
                  <a class="nav-link u-header__nav-link" href="/">Home</a>
                </li>
                <li class="nav-item u-header__nav-item">
                  <a class="nav-link u-header__nav-link" href="/">About</a>
                </li>
                <li class="nav-item u-header__nav-item">
                  <a class="nav-link u-header__nav-link" href="/">Services</a>
                </li>
                <li class="nav-item u-header__nav-item">
                  <a class="nav-link u-header__nav-link" href="/">Open source</a>
                </li>
                <li class="nav-item u-header__nav-item">
                  <a class="nav-link u-header__nav-link" href="/">Help</a>
                </li>
                <li class="nav-item u-header__nav-item">
                  <a class="nav-link u-header__nav-link" href="/">Case studies</a>
                </li>
              </ul>
            </div>
          </nav>

        </div>
      </div>

    </div>
  </div>
</header>
