<div class="container space-2">
  <!-- Title -->
  <div class="w-lg-60 mb-5 mb-sm-11">
    <span class="d-block text-secondary font-size-1 text-uppercase mb-3">Our services</span>
    <h2 class="h4 text-lh-md">Let us guide you through the maze of business growth and eliminate complexity step by step.</h2>
  </div>
  <!-- End Title -->

  <div id="SVGServices" class="row">
    <div class="col-lg-5 mb-3 mb-sm-5 mb-lg-0">
      <!-- Card -->
      <a class="card card-text-dark border-0 bg-primary text-white shadow-lg min-height-380 h-100 transition-3d-hover" href="#">
        <figure class="position-sm-absolute top-0 left-0 w-100">
          <img class="js-svg-injector rounded-top" src="../svg/components/abstract-shapes-18.svg" alt="SVG" data-parent="#SVGServices">
        </figure>

        <article class="d-flex align-content-end flex-wrap h-100 p-5">
          <h4>Analysis</h4>
          <p class="text-white-70">Early stage analysis and scope control define path to successful issue resolution.</p>
        </article>
      </a>
      <!-- End Card -->
    </div>

    <div class="col-sm-6 col-lg mb-3 mb-sm-0">
      <!-- Card -->
      <a class="card card-text-dark shadow-lg min-height-380 h-100 transition-3d-hover" href="#">
        <figure class="position-sm-absolute top-0 left-0 w-100">
          <img class="js-svg-injector rounded-top" src="../svg/components/abstract-shapes-17.svg" alt="SVG"
               data-parent="#SVGServices">
        </figure>

        <article class="d-flex align-content-end flex-wrap h-100 p-5">
          <h4 class="h5">Alpha & Beta</h4>
          <p>By testing assumptions in steps we control finances and increase chances of successful delivery.</p>
        </article>
      </a>
      <!-- End Card -->
    </div>

    <div class="col-sm-6 col-lg">
      <!-- Card -->
      <a class="card card-text-dark shadow-lg min-height-380 h-100 transition-3d-hover" href="#">
        <figure class="position-sm-absolute top-0 left-0 w-100">
          <img class="js-svg-injector rounded-top" src="../svg/components/abstract-shapes-16.svg" alt="SVG" data-parent="#SVGServices">
        </figure>
        <article class="d-flex align-content-end flex-wrap h-100 p-5">
          <h4 class="h5">Delivery</h4>
          <p>Controlled delivery of each step is tested, monitored and disposed of anomalies.</p>
        </article>
      </a>
      <!-- End Card -->
    </div>
  </div>
</div>
