

.navigation {
  flex: 1 1 auto;
  align-items: stretch;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
}

.navigation > .stripe {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  justify-content: left;
  transition: all 0.3s ease;
}

a.stripe {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  transition: all ease 0.2s;
}

.stripe .bg {
  z-index: 10;

  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(0,0,0,0.2);
  transform: skewX(-3deg) rotate(-3deg);
  box-shadow: 0 0 1px -2px inset, 0 -5px 10px rgba(0,0,0,0.1);
  transform-origin: top left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  transition: all ease 0.2s;
}

.stripe:hover .bg {
  background-position: bottom;
  filter: brightness(1.2);
}

.stripe .fg {
  z-index: 100;

  padding: 20px 20px 30px;
  box-sizing: border-box;

  color: #333333;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.8);
}

.stripe .title {
  font-size: 16px;
  line-height: 1.1;
  margin: 0 15px 10px 50px;
  font-weight: bold;
  transition: all ease 0.2s;
}

.stripe .description {
  font-size: 14px;
  line-height: 1.1;
  margin: 0 15px 0 50px;
  max-width: 25em;

  transition: all ease 0.2s;
}

.stripe .icon {
  float: left;
  font-size: 26px;
  line-height: 60px;
  margin-left: 5px;
  color: #9E9E9E;

  transition: all ease 0.2s;
}

.stripe.sme .icon {
  color: #2196F3;
}
.stripe.sme .bg {}

.stripe.randd .icon {
  color: #9C27B0;
}
.stripe.randd .bg {}

.stripe.github .icon {
  color: #607D8B;
}
.stripe.github .bg {}

.stripe.contact .icon {
  color: #8BC34A;
}
.stripe.contact .bg {}


.stripe .icon-action {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -24px;
  transform: rotate(-3deg);
  color: #ce252b;
}

@media all and (min-width: 800px) {

  header {
    position: absolute;
    top: 0;
    left: 0;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding-left: 100px;
  }

  .navigation > .stripe {
    width: 140px;
  }

  .stripe .bg {
    border-left: 1px solid rgba(0,0,0,0.2);
    transform: skewY(-3deg) rotate(3deg);
    box-shadow: 0px 0px 1px -2px inset, -5px 0 10px rgba(0,0,0,0.1);
    transform-origin: center;
  }

  .stripe .fg {
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
  }

  .stripe .icon {
    float: none;
    font-size: 26px;
    line-height: 1;
    margin: 0 0 10px;
  }

  .stripe .title {
    margin: 0 0 10px;
  }

  .stripe .description {
    display: none;
    margin: 0 0 10px;
    text-align: center;
  }

  .stripe .icon-action {
    display: none;
    position: relative;
    right: initial;
    top: initial;
    margin: 0;
    transform: rotate(-20deg);
  }

}

@media all and (min-width: 1140px) {

  .navigation > .stripe {
    width: 200px;
  }

  .stripe .description {
    display: block;
  }

}

@media all and (min-width: 1400px) {

  .navigation > .stripe {
    width: 240px;
  }

}
